/* Customize the Clustered Markers */
.marker-cluster-custom {
    background: #95D66A;
    border: 3px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px;
}

.custom-rectangle-marker {
    width: 41px;
    height: 20px;
    background-color: transparent;
    border: 3px solid #aa000088;
    transform: translate(-20px, -10px);
  }